@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;700&family=Lateef:wght@400;600&family=Open+Sans:wght@400;500;600;700&family=Tangerine:wght@400;700&display=swap");

/* font-family: 'JetBrains Mono', monospace;
font-family: 'Lateef', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Tangerine', cursive; */
